<div>
    <div class="theme-switch">
        <p-inputSwitch [(ngModel)]="checked" (onChange)="handleChange($event)"></p-inputSwitch>
        <i class="pi pi-moon" style="font-size: 1.7rem; padding-right: 10px;"></i>
    </div>
    <div class="container d-flex justify-content-between align-items-center">
        <div class="row m-auto">
            <div class="col">
                <div class="d-flex">
                    <h1>Barber Booking App</h1>
                </div>
                <p> From 9:00am to 9:00pm </p>
            </div>
        </div>
    </div>
</div>