.container {
  padding: 10px;

  .title {
    margin-bottom: 30px;
  }

  .p-inplace {
    margin: 0 0 0 10px;
  }

  .content {
    max-width: 130px;
    margin-right: 10px;
  }

  .display {
    margin-top: 10px;
  }

  .button {
    margin-left: 10px;
  }
  #description {
    margin-left: 0.8rem;
  }

  .phone {
    margin-left: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 30px 50px;
  }
}
