p-dialog {
  div {
    padding: 15px 8px;
  }

  form {
    margin-top: 5px;
  }

  #label-checkbox {
    padding-left: 15px;
  }

  .phone-mask {
    height: 83px;
    p-inputmask {
      width: 239.5px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    .grid-3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .grid-4 {
      grid-column-start: 1;
      grid-column-end: 3;

      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
}
