<div class="container">
    <div class="row">
        <div class="col first ">
            <app-header></app-header>
            <div class="buttons m-auto d-flex justify-content-around pad-item">
                <app-book-appointment [services]="services" [firstname]="firstname" [lastname]="lastname"
                    [number]="number" [date]="date" [hour]="hour">
                </app-book-appointment>
                <app-barber-services [services]="services">
                </app-barber-services>
            </div>
            <app-progress-bar></app-progress-bar>
        </div>
        <div class="col">
            <app-timeline></app-timeline>
        </div>
    </div>
</div>